---
import Card from '../components/Card.astro';
import personalLanding from '../assets/personal_landing.png';
import invasionz from '../assets/invasion-z.png';
import latexevent from '../assets/flyer-latex.png';
import uicomponents from '../assets/ui-components.png';
import neurologycenter from '../assets/neurologycenter.png';
import inkarribrand from '../assets/inkarri-brand.png'
import aurecold from '../assets/aurecold.png';
import hand from '../assets/hand.svg';
import startlima from '../assets/start-lima.png';

// Tool icons
import figmaLogo from '../assets/figma.svg';
import notionLogo from '../assets/notion.svg';
import miroLogo from '../assets/miro.svg';
import htmlLogo from '../assets/html.svg';
import cssLogo from '../assets/css.svg';
import astroLogo from '../assets/astro.svg';
import illustratorLogo from '../assets/illustrator.svg';
import photoshopLogo from '../assets/photoshop.svg';
---

<li>
    <Card
            link="https://www.instagram.com/start_lima"
            cover={startlima.src}
            title="Start Lima"
            description="Flyer design for an international entrepreneurship organization."
            tags={[
                { label: 'Work', type: 'work' },
                { label: 'Project', type: 'project' },
                { label: 'Design', type: 'design' },
            ]}
            icons={[
                { src: figmaLogo.src,  alt: 'Figma'  },
                { src: notionLogo.src,  alt: 'Notion'  },
                { src: illustratorLogo.src,  alt: 'Illustrator'  },
                { src: photoshopLogo.src,   alt: 'Photoshop'   },
            ]}
    />
</li>

<li>
    <Card
            link="https://www.tiktok.com/@aureacold"
            cover={aurecold.src}
            title="Aurecold"
            description="Logo design for an online store on social media."
            tags={[
                { label: 'Work', type: 'work' },
                { label: 'Design', type: 'design' },
            ]}
            icons={[
                { src: figmaLogo.src,  alt: 'Figma'  },
                { src: illustratorLogo.src,  alt: 'Illustrator'  },
                { src: photoshopLogo.src,   alt: 'Photoshop'   },
            ]}
    />
</li>

<li>
    <Card
            link="https://www.figma.com/community/file/1625660632449479485/ui-components-app"
            cover={uicomponents.src}
            title="UI Components - AGROS"
            description="UX research y prototipado para apps blockchain, 4 clientes internacionales."
            tags={[
                { label: 'Work', type: 'work' },
                { label: 'Design', type: 'design' },
            ]}
            icons={[
                { src: figmaLogo.src,  alt: 'Figma'  },
                { src: notionLogo.src, alt: 'Notion' },
            ]}
    />
</li>

<li>
    <Card
            link="https://www.instagram.com/p/Cy2F332sBsi/?igsh=MTJvbGxrbHh6Zjg1Mw=="
            cover={latexevent.src}
            title="Workshop Flyer"
            description="Wallet de identidad digital blockchain para programa de beneficios UN-WFP."
            tags={[
                { label: 'Work', type: 'work' },
                { label: 'Design', type: 'design' },
            ]}
            icons={[
                { src: figmaLogo.src, alt: 'Figma' },
                { src: illustratorLogo.src,  alt: 'Illustrator'  },
                { src: photoshopLogo.src,   alt: 'Photoshop'   },
            ]}
    />
</li>
<li>
    <Card
            link="https://neurologoenhuaraz.com.pe/"
            cover={neurologycenter.src}
            title="Neurology Center Website"
            description="A minimalist template for personal websites, available on the Figma community."
            tags={[
                { label: 'Work', type: 'work' },
                { label: 'Product', type: 'product' },
                { label: 'Design',   type: 'design'   },
            ]}
            icons={[
                { src: figmaLogo.src, alt: 'Figma' },
                { src: htmlLogo.src, alt: "HTML"},
                { src: photoshopLogo.src,   alt: 'Photoshop'   },
                { src: astroLogo.src,   alt: 'Astro'   },
            ]}
    />
</li>

<li>
    <Card
            link="https://www.figma.com/community/file/1625653637301992207/minecraft-event-poster"
            cover={invasionz.src}
            title="Minecraft Event Posters"
            description="Designing the visual concept for a poster for a Minecraft streamer event."
            tags={[
                { label: 'Work', type: 'work' },
                { label: 'Design',   type: 'design'   },
            ]}
            icons={[
                { src: figmaLogo.src, alt: 'Figma' },
                { src: illustratorLogo.src,  alt: 'Illustrator'  },
                { src: photoshopLogo.src,   alt: 'Photoshop'   },
            ]}
    />
</li>

<li>
    <Card
            link="https://www.figma.com/community/file/1463373611038803206"
            cover={personalLanding.src}
            title="Personal landing page"
            description="A minimalist template for personal websites, available on the Figma community."
            tags={[
                { label: 'Project', type: 'personal' },
                { label: 'Template', type: 'project'  },
                { label: 'Design',   type: 'design'   },
            ]}
            icons={[
                { src: figmaLogo.src, alt: 'Figma' },
                { src: illustratorLogo.src,  alt: 'Illustrator'  },
                { src: photoshopLogo.src,   alt: 'Photoshop'   },
                { src: astroLogo.src,   alt: 'Astro'   },
            ]}
    />
</li>

<li>
    <Card
            link="https://www.figma.com/community/file/1626014360430658972"
            cover={inkarribrand.src}
            title="Inkarri's Personal Brand"
            description="My own personal brand design for social media and content creation."
            tags={[
                { label: 'Work', type: 'work' },
                { label: 'Project', type: 'project' },
                { label: 'Design', type: 'design' },
            ]}
            icons={[
                { src: figmaLogo.src,  alt: 'Figma'  },
                { src: illustratorLogo.src,  alt: 'Illustrator'  },
                { src: photoshopLogo.src,   alt: 'Photoshop'   },
            ]}
    />
</li>

<li>
    <article class="card next">
        <div class="link">
            <img class="icon" src={hand.src} alt="A hand" />
            <p>Working on the next projects</p>
        </div>
    </article>
</li>

<style is:global>
    li {
        display: inline-block;
    }
    .card.next {
        .link {
            padding: 8rem 2rem;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.75rem;
            &:hover {
                background: var(--bg-light-color);
                transform: none;
            }
        }
    }
    @media screen and (min-width: 820px) {
        .card.next {
            height: 100%;
            .link {
                padding: 0;
            }
        }
    }
</style>